h1{
    font-family: lalezar;
    font-weight: 300;
    font-size: 75px;
    color: white;
}
h2{
    font-family: lalezar;
    font-weight: 300;
    font-size: 25px;
    color: white;
}
header{
    background: url("public/img/header.jpg");
}